/** Magane: main.scss **/

div#magane {
	$backgroundPrimary: var(--background-secondary);
	$backgroundSecondary: var(--background-tertiary);
	$textColor: var(--header-secondary);
	$hoverColor: var(--interactive-active);
	display: flex;
	flex-direction: row;
	height: 44px;
	position: absolute;
	z-index: 99;

	button, input, select, label, span, p, a, li, ul, div {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		color: $textColor;
		font-weight: 400;
		line-height: 1.5;
		font-size: 16px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}

	div.channel-textarea-stickers {
		display: flex;
		align-items: center;
		cursor: pointer;

		 &:hover, &.active {
			filter: brightness(1.35);
		}
	}
	img.channel-textarea-stickers-content {
		width: 24px;
		height: 24px;
	}

	div.stickerWindow {
		z-index: 2000;
		width: 600px;
		min-height: 200px;
		right: 270px;
		bottom: 82px;
		position: fixed;
		background: $backgroundPrimary;
		max-height: 600px;
		overflow: hidden;
		transition: all 0.2s ease;
		border-radius: 4px;
		box-shadow: var(--elevation-stroke),var(--elevation-high);

		div.stickers {
			overflow: auto;
			height: 550px !important;
			margin-bottom: 100px;
			position: relative;

			h3.getStarted {
				text-align: center;
				padding-top: 40%;
				pointer-events: none;
			}

			div.pack {
				float: left;
				display: flex;
				flex-flow: wrap;
				justify-content: center;
				padding: 25px;
				width: 100%;
				box-sizing: border-box;

				span {
					color: $textColor;
					width: 100%;
					cursor: auto;
					padding-left: 10px;
					margin: 10px 0px;

					.counts {
						padding-left: 0;
					}

					.counts span {
						padding: 0 0.5em;
					}
				}

				div.sticker {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100px;
					height: 100px;
					float: left;
					position: relative;

					.image {
						cursor: pointer;
						max-height: 100%;
						max-width: 100%;
					}

					div.addFavorite, div.deleteFavorite {
						width: 20px;
						height: 20px;
						position: absolute;
						right: 0;
						transition: all 0.2s ease;
						display: none;
						z-index: 2;
						&:hover {
							transform: scale(1.25);
							svg path {
								transition: all 0.2s ease;
							}
						}
					}
					div.addFavorite {
						bottom: 0;
						&:hover {
							svg path {
								fill: #2ECC71;
							}
						}
					}
					div.deleteFavorite {
						top: 0px;
						transform: rotateZ(45deg);
						&:hover {
							transform: scale(1.25) rotateZ(45deg);
							svg path {
								fill: #F04747;
							}
						}
					}

					&:hover div.addFavorite,
					&:hover div.deleteFavorite {
						display: block;
						cursor: pointer;
					}
				}
			}
		}

		div.bottom-toolbar {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 50px;
			background: $backgroundSecondary;
			display: flex;
		}

		div.packs {
			flex: 1 0 auto;
			overflow: auto hidden;

			&.packs-controls {
				flex-grow: 0;
			}

			div.packs-wrapper {
				white-space: nowrap;
				float: left;
				width: 100%;
				font-size: 0; /* quick hax to clear whitespace */
			}

			div.pack {
				display: inline-block;
				height: 40px;
				width: 40px;
				margin: 5px;
				cursor: pointer;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				transition: all 0.2s ease;
				filter: grayscale(100%);

				&:hover,
				div.pack.active {
					transform: scale(1.25);
					filter: grayscale(0%);
				}

				> div {
					background-image: url('/assets/f24711dae4f6d6b28335e866a93e9d9b.png');
					width: 22px;
					height: 22px;
					background-size: 924px 704px;
					background-repeat: no-repeat;
					margin-top: 8px;
					margin-left: 9px;
				}

				div.icon-favorite {
					background-position: -462px -132px;
				}

				div.icon-plus {
					background-position: -374px -484px;
					/* make it greenish */
					filter: hue-rotate(260deg) brightness(3) contrast(4.5);
				}
			}
		}
	}

	.stickersModal {
		z-index: 2001;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		&.is-active {
			display: flex;
		}

		.inputQuery {
			width: calc(100% - 30px);
			height: 36px;
			box-sizing: border-box;
			margin: 0 15px 10px;
			padding: 5px 12px;
			border-radius: 3px;
			border: 1px solid $backgroundPrimary;
			background: $backgroundPrimary;
			color: $textColor;
		}

		.inputPackIndex {
			width: 55px;
			height: 36px;
			box-sizing: border-box;
			padding: 5px 12px;
			border-radius: 3px;
			border: 1px solid $backgroundPrimary;
			background: $backgroundPrimary;
			color: $textColor;
			text-align: center;
		}

		.modal-background {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(10, 10, 10, 0.86);
		}

		.modal-content,
		.modal-card {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: $backgroundSecondary;
			overflow: hidden;
		}

		.modal-content {
			.stickersConfig {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;

				.tabs {
					height: 75px;
					width: 100%;
					text-align: center;
					margin-bottom: 10px;

					.tab {
						color: $textColor;
						display: inline-block;
						border: none;
						border-top: 0px transparent;
						border-left: 0px transparent;
						border-right: 0px transparent;
						border-width: 1px;
						border-style: solid;
						border-bottom-color: $textColor;
						padding: 20px;
						cursor: pointer;

						&:hover,
						&.is-active {
							border-bottom-color: $hoverColor;
							color: $hoverColor;
						}
					}
				}

				div.tabContent {
					height: 100%;
					width: 100%;
					overflow-y: auto;

					&.line-proxy {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						p {
							padding: 2rem;
							padding-top: 0;
							margin-top: -5rem;
							user-select: text;
						}
					}

					&.misc {
						margin: 0 5px 10px;

						.section {
							padding: 5px 12px;

							.section-title {
								font-weight: 800;
							}
						}
					}
				}

				div.pack {
					height: 75px;
					width: 600px; /* if not static, its width may flicker due to simplebar */
					float: left;
					display: flex;
					padding: 0 20px;
					box-sizing: border-box;
					margin-bottom: 5px;

					&:last-of-type {
						margin-bottom: 0;
					}

					div.index,
					div.handle,
					div.preview,
					div.action {
						flex: 0 0 auto;
						min-width: 75px;
						height: 75px;

						button.deletePack {
							width: 36px;
							height: 36px;

							&:before,
							&:after {
								background-color: $textColor;
								content: "";
								display: block;
								left: 50%;
								position: absolute;
								top: 50%;
								transform: translateX(-50%) translateY(-50%) rotate(45deg);
								transform-origin: center center;
							}

							&:before {
								height: 2px;
								width: 50%;
							}

							&:after {
								height: 50%;
								width: 2px;
							}
						}
					}

					div.index {
						padding-top: 20px;
						text-align: left;
					}

					div.preview {
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
					}

					div.handle {
						padding: 20px;
						cursor: move;
						padding-top: 30px;

						span {
							background: #555;
							height: 2px;
							width: 100%;
							display: block;
							margin-bottom: 6px;
						}
					}

					div.action {
						padding-top: 20px;
						text-align: right;
					}

					div.info {
						flex: 1 1 auto;
						padding: 14px;

						> span {
							display: block;
							width: 100%;
							color: $textColor;

							&:nth-of-type(1) {
								font-weight: bold;
								color: $textColor;
							}

							.appendix span {
								&:nth-of-type(1) {
									padding: 0 0.5em;
								}

								&:nth-of-type(2) {
									user-select: text;
								}
							}
						}
					}

					div.preview img {
						height: 100%;
						width: 100%;
					}
				}
			}
		}

		.modal-close {
			-moz-appearance: none;
			-webkit-appearance: none;
			user-select: none;
			background-color: rgba(10, 10, 10, 0.2);
			border: none;
			border-radius: 290486px;
			cursor: pointer;
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			font-size: 0;
			outline: none;
			vertical-align: top;
			background: none;
			position: absolute;
			right: 20px;
			top: 20px;
			height: 32px;
			max-height: 32px;
			max-width: 32px;
			min-height: 32px;
			min-width: 32px;
			width: 32px;
			z-index: 1;

			&:before,
			&:after {
				background-color: $textColor;
				content: "";
				display: block;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
				transform-origin: center center;
			}

			&:before {
				height: 2px;
				width: 50%;
			}

			&:after {
				height: 50%;
				width: 2px;
			}

			&:hover,
			&:focus {
				background-color: rgba(10, 10, 10, 0.3);
			}
		}
	}

	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		align-items: center;
		border: 1px solid transparent;
		border-radius: 3px;
		box-shadow: none;
		display: inline-flex;
		font-size: 1rem;
		padding: calc(0.375em - 1px) 0.75em;
		position: relative;
		vertical-align: top;
		user-select: none;
		cursor: pointer;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		border-color: transparent;
		color: $textColor;
		background-color: $backgroundPrimary;
		width: 62px; /* consistent width */

		&.is-danger {
			color: #ffffff;
			border-color: rgba(240,71,71,.3);
			background: #f04747;
		}

		&:hover, &.is-primary:hover {
			transform: scale3d(1.1, 1.1, 1.1);
		}

		&.has-width-full {
			width: 100%;
		}
	}
}
