/** Magane: main.scss **/

$backgroundPrimary: var(--background-surface-high, #242429);
$backgroundSecondary: var(--background-base-lower, #1a1a1e);
$textColor: var(--header-secondary, #efeff0);

$borderRadius: var(--radius-sm, 8px);

$fontDisplay: var(--font-display, "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif);
$fontCode: var(--font-code, "gg mono", "Source Code Pro", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace);

div#magane {
	display: flex;
	flex-direction: row;
	height: 44px;
	position: absolute;
	z-index: 1001;
	scrollbar-width: auto !important;
	scrollbar-color: auto !important;

	button, input, select, label, span, p, a, li, ul, div, textarea {
		font-family: $fontDisplay;
		color: $textColor;
		font-weight: 400;
		line-height: 1.5;
		font-size: 16px;
		text-rendering: optimizeLegibility;
		text-size-adjust: 100%;
	}

	div.stickerWindow {
		width: 608px;
		min-height: 200px;
		position: fixed;
		background: $backgroundPrimary;
		max-height: 608px;
		transition: all 0.2s ease;
		border-radius: $borderRadius;
		box-shadow: var(--elevation-stroke, 0 0 0 1px #020203), var(--elevation-high, 0 8px 16px #000);

		div.stickers {
			height: 550px !important;
			margin-bottom: 58px;
			position: relative;

			&.has-left-toolbar {
				height: 608px !important;
				margin-left: 58px;
				margin-bottom: 0;
			}

			h3.getStarted {
				text-align: center;
				padding-top: 40%;
				pointer-events: none;
			}

			div.pack {
				float: left;
				display: flex;
				flex-flow: wrap;
				justify-content: center;
				padding: 20px;
				width: 100%;
				box-sizing: border-box;

				span {
					color: $textColor;
					width: 100%;
					cursor: auto;
					padding-left: 10px;
					margin: 10px 0px;

					.counts {
						padding-left: 0;
					}

					.counts span {
						padding: 0 0.5em;
					}

					&:has(+ .subtext) {
						margin-bottom: 0;
					}

					&.subtext {
						color: var(--text-muted, #94959c);
						font-size: 13px;
						margin-top: 0;
					}
				}

				div.sticker {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100px;
					height: 100px;
					float: left;
					position: relative;

					.image {
						cursor: pointer;
						max-height: 100%;
						max-width: 100%;
					}

					div.addFavorite, div.deleteFavorite {
						width: 20px;
						height: 20px;
						position: absolute;
						right: 0;
						transition: all 0.2s ease;
						display: none;
						&:hover {
							transform: scale(1.25);
							svg path {
								transition: all 0.2s ease;
							}
						}
					}

					div.addFavorite {
						bottom: 0;
						&:hover {
							svg path {
								fill: #2ECC71;
							}
						}
					}

					div.deleteFavorite {
						top: 0px;
						transform: rotateZ(45deg);
						&:hover {
							transform: scale(1.25) rotateZ(45deg);
							svg path {
								fill: #F04747;
							}
						}
					}

					&:hover div.addFavorite,
					&:hover div.deleteFavorite {
						display: block;
						cursor: pointer;
					}
				}
			}
		}

		div.packs-toolbar {
			position: absolute;
			bottom: 0;
			display: flex;
			background: $backgroundSecondary;

			&.is-bottom {
				width: 100%;
				height: 58px;
				border-bottom-right-radius: $borderRadius;
				border-bottom-left-radius: $borderRadius;

				div.packs {
					flex: 1 1 auto;

					&.packs-controls {
						flex: 0 0 auto;
					}

					div.packs-wrapper {
						white-space: nowrap;
						float: left;
						width: 100%;
						font-size: 0; /* clear whitespace */
					}

					div.pack {
						margin: 9px 6px;
					}
				}
			}

			&.is-left {
				width: 58px;
				height: 100%;
				flex-direction: column;
				border-top-left-radius: $borderRadius;
				border-bottom-left-radius: $borderRadius;

				div.packs {
					flex: 1 1 auto;
					height: 100%;

					&.packs-controls {
						flex: 0 0 auto;
						height: auto;
					}

					div.packs-wrapper {
						font-size: 0; /* clear whitespace */
					}

					div.pack {
						margin: 6px 9px;
					}
				}
			}

			div.packs div.pack {
				display: inline-block;
				height: 40px;
				width: 40px;
				cursor: pointer;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				transition: all 0.2s ease;
				filter: grayscale(100%);

				&:hover,
				div.pack.active {
					transform: scale(1.25);
					filter: grayscale(0%);
				}

				> div {
					background-image: url('/assets/62ed7720accb1adfe95565b114e843c6.png');
					width: 32px;
					height: 32px;
					background-size: 1344px 1216px;
					background-repeat: no-repeat;
					margin-top: 4px;
					margin-left: 4px;
				}

				div.icon-favorite {
					background-position: -1056px -288px;
				}

				div.icon-plus {
					background-position: -384px -896px;
					/* make it greenish */
					/* thanks to the magic of https://codepen.io/sosuke/pen/Pjoqqp */
					filter: invert(63%) sepia(25%) saturate(813%) hue-rotate(55deg) brightness(98%) contrast(82%);
				}

				div.icon-frequently-used {
					background-position: -160px -960px;
				}
			}
		}
	}

	.stickersModal {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		align-items: center;
		justify-content: center;

		&.is-active {
			display: flex;
		}

		.inputQuery {
			width: calc(100% - 30px);
			height: 36px;
			box-sizing: border-box;
			margin: 0 15px 10px;
			padding: 5px 12px;
			border-radius: $borderRadius;
			border: 1px solid $backgroundPrimary;
			background: $backgroundPrimary;
			color: $textColor;
		}

		textarea.inputQuery {
			height: auto;
			min-height: 54px;
		}

		.inputPackIndex {
			width: 55px;
			height: 36px;
			box-sizing: border-box;
			padding: 5px 12px;
			border-radius: $borderRadius;
			border: 1px solid $backgroundPrimary;
			background: $backgroundPrimary;
			color: $textColor;
			text-align: center;
		}

		.modal-background {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(10, 10, 10, 0.86);
		}

		.modal-content {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: $backgroundSecondary;
			border-radius: $borderRadius;
		}

		.modal-content {
			.stickersConfig {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;

				.tabs {
					padding: 16px;
					width: 100%;
					box-sizing: border-box;
					text-align: center;

					.tab {
						color: $textColor;
						display: inline-block;
						border-radius: $borderRadius;
						font-weight: 600;
						padding: 4px 12px;
						transition: background-color .1s ease-in-out,color .1s ease-in-out;
						cursor: pointer;

						&:hover {
							color: var(--interactive-hover, #fbfbfb);
							background: var(--button-secondary-background-hover, #97979f33);
						}

						&.is-active {
							color: var(--button-secondary-text, #ebebed);
							background: var(--button-secondary-background, #97979f1f);
						}
					}
				}

				div.tab-content {
					height: calc(100% - 64px); /* .tabs height */
					width: 100%;
					padding: 10px 0;
					box-sizing: border-box;

					&.avail-packs {
						display: flex;
						flex-direction: column;
						padding-bottom: 0;

						.packs {
							height: 100%;
							width: 100%;
							padding-bottom: 10px;
						}
					}

					&.import,
					&.misc {
						user-select: text;

						.section {
							padding: 0 24px 14px;

							.section-title {
								font-weight: 800;
							}

							> p:last-of-type {
								margin-bottom: 0;
							}

							a {
								color: var(--text-link, #5197ed);

								&:hover {
									text-decoration: underline;
								}
							}
						}

						.input-grouped {
							display: flex;

							input {
								margin: 0;
								width: auto;
								flex-grow: 1;
							}

							textarea {
								margin: 0;
								width: auto;
								flex-grow: 1;
							}

							button {
								margin-left: 4px;
							}
						}
					}
				}

				div.pack {
					height: 75px;
					width: 100%;
					float: left;
					display: flex;
					padding: 0 20px;
					box-sizing: border-box;
					margin-bottom: 5px;

					&:last-of-type {
						margin-bottom: 0;
					}

					div.index,
					div.handle,
					div.preview {
						flex: 0 0 auto;
						min-width: 75px;
					}

					div.action {
						flex: 1 0 auto;

						&.is-tight button {
							width: auto;
							padding-right: 0.5em;
							padding-left: 0.5em;
						}

						button.delete-pack {
							width: 36px;
							height: 36px;

							&:before,
							&:after {
								background-color: $textColor;
								content: "";
								display: block;
								left: 50%;
								position: absolute;
								top: 50%;
								transform: translateX(-50%) translateY(-50%) rotate(45deg);
								transform-origin: center center;
							}

							&:before {
								height: 2px;
								width: 50%;
							}

							&:after {
								height: 50%;
								width: 2px;
							}
						}
					}

					div.index {
						padding-top: 20px;
						text-align: left;
					}

					div.preview {
						height: 75px;
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
					}

					div.handle {
						padding: 20px;
						cursor: move;
						padding-top: 30px;

						span {
							background: #555;
							height: 2px;
							width: 100%;
							display: block;
							margin-bottom: 6px;
						}
					}

					div.action {
						padding-top: 20px;
						text-align: right;
					}

					div.info {
						flex: 1 1 auto;
						padding: 14px;

						> span {
							display: block;
							width: 100%;
							color: $textColor;

							&:nth-of-type(1) {
								font-weight: bold;
								color: $textColor;
							}

							.appendix span {
								&:nth-of-type(1) {
									padding: 0 0.5em;
								}

								&:nth-of-type(2) {
									user-select: text;
								}
							}
						}
					}

					div.preview img {
						height: 100%;
						width: 100%;
					}
				}
			}
		}

		.modal-close {
			user-select: none;
			background-color: rgba(10, 10, 10, 0.2);
			border: none;
			border-radius: 290486px;
			cursor: pointer;
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			font-size: 0;
			outline: none;
			vertical-align: top;
			background: none;
			position: absolute;
			right: 16px;
			top: 16px;
			height: 32px;
			max-height: 32px;
			max-width: 32px;
			min-height: 32px;
			min-width: 32px;
			width: 32px;

			&:before,
			&:after {
				background-color: $textColor;
				content: "";
				display: block;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
				transform-origin: center center;
			}

			&:before {
				height: 2px;
				width: 50%;
			}

			&:after {
				height: 50%;
				width: 2px;
			}

			&:hover,
			&:focus {
				background-color: rgba(10, 10, 10, 0.3);
			}
		}
	}

	.button {
		align-items: center;
		border: 1px solid transparent;
		border-radius: $borderRadius;
		box-shadow: none;
		display: inline-flex;
		font-size: 1rem;
		font-weight: var(--font-weight-medium, 500);
		padding: calc(0.375em - 1px) 0.75em;
		position: relative;
		vertical-align: top;
		user-select: none;
		cursor: pointer;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		border-color: transparent;
		color: $textColor;
		background-color: $backgroundPrimary;
		width: 62px; /* consistent width */

		&.is-danger {
			color: #ffffff;
			border-color: rgba(240,71,71,.3);
			background: #f04747;
		}

		&:hover, &.is-primary:hover {
			transform: scale3d(1.1, 1.1, 1.1);
		}

		&.has-width-full {
			width: 100%;

			&:hover {
				/* TODO: Figure out how to do a more consistent scaling,
				  regardless of the button's dynamic size. */
				transform: scale3d(1.04, 1.04, 1.04);
			}
		}
	}

	.has-scroll-x {
		overflow: auto hidden;
	}

	.has-scroll-y {
		overflow: hidden auto;
	}
}

div#maganeButton {
	&.channel-textarea-stickers {
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover,
		&.active {
			filter: brightness(1.35);
		}
	}

	img.channel-textarea-stickers-content {
		width: 24px;
		height: 24px;
		padding: 4px;
		margin-left: 2px;
		margin-right: 2px;
	}
}

div.magane-vencord-modal {
	color: $textColor;
	user-select: text;

	p {
		margin: 0;
		margin-bottom: 8px;
	}
}

div#magane,
div.magane-vencord-modal {
	code {
		font-family: $fontCode;
		border-radius: var(--radius-xs, 4px);
		margin: -.2em 0;
		padding: 0 .2em;
		box-sizing: border-box;
		border: 1px solid var(--border-normal, #97979f33);
		background: var(--background-code, #5865f214);
		color: $textColor;
	}

	pre code {
		display: block;
		padding: .5em;
		overflow-x: auto;
	}
}

/* Scrollbars, also apply to Vencord modals */

div#magane,
div[class*="-outerContainer"]:has(div[data-mana-component="modal"] div.magane-vencord-modal) {
	::-webkit-scrollbar {
		height: 8px !important;
		width: 8px !important;

		&-corner {
			background-color: transparent;
		}

		&-track {
			background-color: var(--scrollbar-auto-track, transparent);
			margin: $borderRadius 0 !important;
		}

		&-thumb {
			background-color: var(--scrollbar-auto-thumb, #666771);
			min-height: 40px;
		}

		&-track,
		&-thumb {
			background-clip: padding-box;
			border: 0 solid transparent !important;
			border-radius: $borderRadius;
		}
	}
}

/* Fix Vencord modals width */

div[data-mana-component="modal"]:has(div.magane-vencord-modal) {
	max-width: 650px !important;
	min-width: 400px;
	width: auto;
	overflow-y: auto;

	div[class*="-headerSubtitle"] {
		width: 100%;
	}
}

/* Visually hide Magane button in certain scenarios */

div[class*="-submitContainer"] div#maganeButton { /* create thread */
	display: none;
}

div[data-list-item-id^="forum-channel-list-"] div#maganeButton { /* create forum post */
	display: none;
}
